<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="http://allfont.net/css/?fonts=english-157-bt" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="row">
        <h1 class="col-md-6 couple-name">Valeska e William</h1>
        <nav class="col-md-offset-3 col-md-3" role="navigation">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="/"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                <li role="presentation"><a href="/lista">Lista</a></li>
                <li role="presentation" class="active"><a href="">A Cerimonia</a></li>
                <!--<li role="presentation"><a href="#mensagem">Mensagem</a></li>
                <li role="presentation"><a href="#confirmation">Confirmação</a></li>-->
            </ul>
        </nav>
    </header>
    <article class="container">
        <p class="weeding-date">Quinze de Maio de 2015</p>
        <p class="weeding-directions">Rua Bonfim, 754 - Jardim Planteucal <br /> Ribeirão Pires - SP</p>
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3652.089262482186!2d-46.435715099999996!3d-23.7441961!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce6cab6b32a16b%3A0xdfac0b709c86ece4!2sR.+Bonfim%2C+754+-+Represa%2C+Ribeir%C3%A3o+Pires+-+SP!5e0!3m2!1spt-BR!2sbr!4v1427608560183" width="800" height="300" frameborder="0" style="border:0" class="map"></iframe>
        </div>
    </article>
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>