<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--<link href="http://allfont.net/css/?fonts=calligraphia-one" rel="stylesheet" type="text/css" />-->
    <link href="http://allfont.net/css/?fonts=english-157-bt" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="row col-md-offset-9 col-md-3" role="navigation">
        <ul class="nav nav-pills">
            <li role="presentation" class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li role="presentation"><a href="/lista">Lista</a></li>
            <li role="presentation"><a href="/cerimonia">A Cerimonia</a></li>
            <!--<li role="presentation"><a href="#mensagem">Mensagem</a></li>
                <li role="presentation"><a href="#confirmation">Confirmação</a></li>-->
        </ul>
    </nav>

    <h1 class="col-md-offset-3 col-md-6 couple-title">Valeska e William</h1>
    <p class="col-md-offset-4 col-md-4 couple-message">Vamos nos casar.</p>
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
