<nav class="col-md-offset-7 col-md-5 nav-custom-padding" role="navigation">
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="/"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li role="presentation"><a href="/lista">Lista</a></li>
        <li role="presentation"><a href="/cerimonia">A Cerimonia</a></li>
        <!--<li role="presentation"><a href="#mensagem">Mensagem</a></li>-->
        <li role="presentation"><a href="#rsvpModal" data-toggle="modal" data-target="#rsvpModal" data-show="false">Confirmação</a></li>
    </ul>
</nav>

<h1 class="col-md-offset-1 col-md-10 couple-title">Valeska e William</h1>
<p class="col-md-offset-2 col-md-8 center couple-message">Vamos nos casar.</p>