<header class="col-md-12 custom-header">
    <h1 class="col-md-6 couple-name">Valeska e William</h1>
    <nav class="col-md-offset-2 col-md-4" role="navigation">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li role="presentation" class="active"><a href="/lista">Lista</a></li>
            <li role="presentation"><a href="/cerimonia">A Cerimonia</a></li>
            <!--<li role="presentation"><a href="#mensagem">Mensagem</a></li>
            <li role="presentation"><a href="#confirmation">Confirmação</a></li>-->
        </ul>
    </nav>
</header>
<div class="col-md-offset-2 col-md-8 panel store-list">
    <h2 class="stylized-title list"><span class="glyphicon glyphicon-gift"></span> Lista de presentes</h2>
    <div class="col-md-5">
        <a href="https://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-10623794/">
            <img src="./images/logo-americanas.png" alt="Lojas americanas"/>
        </a>
    </div>
    <div class="col-md-offset-3 col-md-3">
        <a href="http://www.precolandia.com.br/lista+de+casamento,2.aspx?idgiftlist=LI0041459793">
            <img src="./images/logo-precolandia.png" alt="Preçolandia" width="150"/>
        </a>
    </div>
</div>