<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="center-block">Valeska e William</h1>
    <nav class="row col-md-offset-6 col-md-6" role="navigation">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li role="presentation" class="active"><a href="#">Lista</a></li>
            <li role="presentation"><a href="/cerimonia">A Cerimonia</a></li>
            <li role="presentation"><a href="#mensagem">Mensagem</a></li>
            <li role="presentation"><a href="#confirmation">Confirmação</a></li>
        </ul>
    </nav>
    <h2>Lista de presentes</h2>
    <a href="">Lojas americanas</a>
    <a href="">Preçolandia</a>
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>