<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <header class="col-md-offset-4 col-md-4">
        <h1 class="center-block">Valeska e William</h1>
    </header>
    <nav class="row col-md-offset-6 col-md-6" role="navigation">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li role="presentation" class="active"><a href="#">Lista</a></li>
            <li role="presentation"><a href="/cerimonia">A Cerimonia</a></li>
            <li role="presentation"><a href="#mensagem">Mensagem</a></li>
            <li role="presentation"><a href="#confirmation">Confirmação</a></li>
        </ul>
    </nav>
    <div class="col-md-12">
        <h2><span class="glyphicon glyphicon-gift"></span> Lista de presentes</h2>
        <div class="col-md-12">
            <a href="https://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-10623794/">Lojas americanas</a>
        </div>
        <div class="col-md-12">
            <a href="http://www.precolandia.com.br/lista+de+casamento,2.aspx?idgiftlist=LI0041459793">Preçolandia</a>
        </div>
    </div>
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>